<div class="top_60 container">
  <div class="row">
    <!-- Profile  -->
    <div class="col-lg-3 col-md-4">
      <div class="profile">
        <div class="profile-name">
          <span class="name">Andrew Gagne</span><br />
          <span class="job">Software Engineer</span>
        </div>
        <figure class="profile-image">
          <img
            src="assets/profile.jpg"
            title="ML code i wrote to find stuffed animals on a football field using a drone. True Story!"
            alt="profile picture"
          />
        </figure>
        <ul class="profile-information">
          <li>
            <p><span>Name:</span> Andrew Gagne</p>
          </li>

          <li>
            <p><span>B.S.</span>Management Information Systems</p>
          </li>
          <li>
            <p>
              <span>LinkedIn:&nbsp;</span>
              <a href="https://www.linkedin.com/in/andrewgagne">andrewgagne</a>
            </p>
          </li>
          <li>
            <p>
              <span>StackBlitz:&nbsp;</span>
              <a href="https://stackblitz.com/@elAndyG">@elAndyG</a>
            </p>
          </li>
        </ul>
        <div class="col-md-12">
          <a
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAIMoHNBUMjVZQjdJR0o1SUtKS0lHSUg1UDM3R1I2MC4u"
            class="btn btn-primary site-btn icon text-white"
          >
            Contact Me <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div id="content">
            <div class="row">
              <section class="work-experience">
                <div class="section-title">
                  <h2>Work Experience</h2>
                </div>
                <app-work-history></app-work-history>
              </section>
            </div>

            <div class="row">
              <section class="col-md-12">
                <div class="section-title">
                  <span></span>
                  <h2>About Me</h2>
                </div>
                <p>
                  With over 18 years of experience accrued building, developing
                  and maintaining solutions in the insurance, healthcare, legal
                  and content management sectors, I will be both an asset and an
                  agent of change on your team. I’d love the opportunity to talk
                  to you about my experiences in full stack development, DevOps,
                  project management, leadership and some of the different wins
                  and losses I’ve had throughout my career.
                </p>
              </section>
              <section class="col-md-12">
                <div class="section-title">
                  <span></span>
                  <h2>Open Source I've contributed to</h2>
                </div>
                <ul>
                  <li>
                    VS Code - documentation
                  </li>
                  <li>
                    Angular - documentation
                  </li>
                  <li>
                    Observable Store by Dan Wahlin
                    <ul>
                      <li>
                        PRs -
                        <a
                          href="https://github.com/DanWahlin/Observable-Store/pull/25"
                          >unit testing</a
                        >,
                        <a
                          href="https://github.com/DanWahlin/Observable-Store/pull/26"
                          >strong typing</a
                        >,
                        <a
                          href="https://github.com/DanWahlin/Observable-Store/pull/27"
                          >CI pipeline</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </div>
            <div class="row">
              <section class="skills col-md-12 graybg padding_45 padbot_45">
                <div class="section-title bottom_30">
                  <span></span>
                  <h2>Things I Know</h2>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      <!-- <img src="" alt="" /> -->
                      Angular
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      C#
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      Sql
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      Something else
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="row">
              <section class="skills col-md-12 graybg padding_45 padbot_45">
                <div class="section-title bottom_30">
                  <span></span>
                  <h2>Things I've Tried</h2>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      <!-- <img src="" alt="" /> -->
                      Vue.js
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      Ember
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      Handlebars
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                      React
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer col-md-12 top_30 bottom_30">
          <div class="links-to-me col-lg-8 col-md-12">
            <a href="https://stackoverflow.com/users/592831/andy-danger-gagne"
              >Stack Overflow</a
            >
            <span> - </span>
            <a href="https://www.linkedin.com/in/andrewgagne">LinkedIn</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
