<main>
  <div class="profile-area">
    <header>
      <div class="avatar">
        <img width="220px" alt="Angular Logo" src="{{ profilePicture }}" />
      </div>
      <div class="profile-details">
        <h2>Andrew W. Gagne</h2>
        <span>Principal Software Developer</span>
        <ul class="contact-info">
          <li>Email: blah@blah.com</li>
          <li>Phone: 860.555.1234</li>
        </ul>
      </div>
    </header>
    <article class="profile-body">
      <section class="profile-section section-about">
        <h2>About</h2>
        <div class="summary">
          This is a story about how my life got flipped, turned upside down.
        </div>
      </section>
      <section class="profile-section section-experience">
        <h2>Experience</h2>
      </section>
    </article>
  </div>
</main>
