<div class="row">
  <div class="col-md-6 padding_15 padbot_30">
    <ul class="timeline col-md-12 top_30">
      <li *ngFor="let experience of workHistory | slice: 0:splitPosition">
        <app-experience [experience]="experience"></app-experience>
      </li>
    </ul>
  </div>
  <div class="col-md-6 padding_15 padbot_30">
    <ul class="timeline col-md-12 top_30">
      <li *ngFor="let experience of workHistory | slice: splitPosition">
        <app-experience [experience]="experience"></app-experience>
      </li>
    </ul>
  </div>
</div>
