/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/laptop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
